<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <a href="/new">Add a new message</a>
    <h2>Below are the messages:</h2>
    <% for(let i = 0; i < messages.length; i++) { %>
    <div>
      <%= messages[i].text %> <%= messages[i].user %>, <%= messages[i].added %>
    </div>
    <% } %>
  </body>
</html>
